@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&family=Roboto+Slab:wght@100;200;300;400;500;600;700&display=swap');

body, html{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, p{
    color: #000000;
    margin: 0px;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba(0, 98, 155, .9);
    height: 100px;
    width: 100%;
    position: fixed;
    z-index: 100;
}

.trademark{
    display: flex;
    flex-direction: column;
    font-family: Roboto Slab;
    text-align: end;
    padding-left: 15px;
    padding-top: 10px;
}

.trademark h1{
    font-size: 32px;
    font-weight: 700;
    color: #FFFFFF;
}

.trademark h5{
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
}

.trademark span{
    color: #ffcd00;
}

.nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: Open Sans;
    padding-right: 60px;
    gap: 60px;
}

.nav a{
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 500;
}

a{
    text-decoration: none;
}

.nav a:hover, .nav a:active{
    color: #ffcd00;
}

footer{
    background-color: #747678;
    height: 150px;
    display: flex;
    flex-direction: row;
    font-family: Open Sans;
}

.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
    width: 100%;
}

.contact p{
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 8px;
}

.copyright{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.copyright p{
    font-size: 12px;
    font-weight: 300;
    color: #FFFFFF;
}

.copyright h5{
    font-size: 16px;
    font-weight: 700;
    color: #FFFFFF;
}

.copyright span{
    font-family: Roboto Slab;
}

.Sun{
    color: #ffcd00;
}

.social{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-end;
    margin-right: 20px;
    margin-top: 5px;
}

.social img{
    width: 40px;
    height: 40px;
    padding-left: 20px;
}